

h5 {
    font-weight: bold;
}


.vision-mission {
    background-color: #f5f8f7;
}

.section-divider {
    width: 50px;
    border: 2px solid #00a896;
    margin-bottom: 15px;
}

.award-logo {
    height: 50px;
}